{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools-items %}
{{ block.super }}
<li>
    <a href="pdf/generate" onclick="return confirm('{% trans "If the a PDF is already generated, it will be replaced. Are you sure to do this?" %}')">
       {% trans "Generate PDF" %}
    </a>
</li>
<li>
    <a href="pdf/download/">
        {% trans "Download PDF" %}
    </a>
</li>
{% endblock %}


{% block field_sets %}


    {{ block.super }}


{% endblock %}

{% block after_related_objects %}
    {{ block.super }}
    <p class="help">Please save this page to refresh the preview.</p>
    {% with original as object %}

    {% if object.pdf_path %}
        <iframe src="{{STATIC_URL}}invoice/pdf/{{object.file_name}}"  width="500" height="500"></iframe>
    {% else %}
        <p>Generate PDF</p>
    {% endif %}


    {% endwith %}
{% endblock %}
