<html>
<body>
<object data="{{STATIC_URL}}invoice/pdf/{{object.file_name}}" type="application/pdf" width="100%" height="100%">

  <p>It appears you don't have a PDF plugin for this browser.
  No biggie... you can <a href="myfile.pdf">click here to
  download the PDF file.</a></p>

</object>
</body>
</html>