<p>Invoice Number: {{ invoice.invoice_id }}</p>
<p>Invoice Date: {{ invoice.invoice_date }}</p>
<p>Invoice To: {{ invoice.order.recipient.company_name }}</p>
</br>
{% for item in item_list %}
<p>{{ item }}</p>
{% endfor %}

<br/>
<p>------------------------------------------
<p>Total due: {{ invoice.balance_formatted }}</p>
<br/>

<p>Thank you for your order!</p>
<p>Click below to view securely online (and obtain PDF):</p>
<p>
    <a href="https://www.jorjun.com{{invoice.href}}">https://www.jorjun.com{{invoice.href}}</a>
</p>
<br/>
<p>If you have any questions or concerns, please reply to this email or contact: billing@jorjun.com</p>
<br/>
<p>Thank you for your order!</p>
<br/>
--
<br/>
<p>This message is private and confidential. If you have received this message in error, please notify us and remove it from your system.</p>
